@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@using ChatApp.ViewModels
@using Microsoft.AspNetCore.SignalR
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using System.Globalization
@using Microsoft.EntityFrameworkCore.SqlServer.Query.Internal
@using Blazorise

@inject IJSRuntime Js

<div class="overflow-scroll" style="max-height: 75vh" @ref="@_messageArea">
    <ul>
        @foreach (var message in _messages)
        {
            <li class="list-group w-100">
                <div class="@(message.UserName != UserName 
                                ? "w-50 message" : "w-50 my-message")">
                    @if (message.ReplyTo != -1)
                    {
                        <span class="fst-italic overflow-hidden reply">
                            Reply to: @GetReply(message.ReplyTo)
                        </span><br />
                    }
                    <span class="fst-italic">@message.UserName:</span>
                    <span>@message.Text</span><br />
                    <span>@(message.DateTime.ToLocalTime()
                              .ToString(CultureInfo.CurrentCulture))</span>
                    <div class="container">
                        <a class="flex-column link-secondary"
                           @onclick="@(() => VisualReply(message.Id))">
                            Reply
                        </a>
                        @if (message.UserName == UserName)
                        {
                            <a class="flex-column link-secondary"
                               @onclick="() => VisualEdit(message.Id)">
                                Edit
                            </a>
                        }
                        <a class="flex-column link-secondary"
                           @onclick="() => VisualDelete(
                               message.Id, message.UserName != UserName)">
                            Delete
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<Modal @ref="_deleteModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Are you sure?</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Button Color="Color.Primary" Clicked="@Delete">
                Delete for all
            </Button>
            <Button Color="Color.Primary" Clicked="@DeleteForMe">
                Delete for me
            </Button>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary"
                    Clicked="@(() => _deleteModalRef.Hide())">
                Cancel
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="_deleteForMeModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Are you sure?</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Button Color="Color.Primary" Clicked="@DeleteForMe">
                Delete for me
            </Button>
            <Button Color="Color.Primary" 
                    Clicked="@(() => _deleteForMeModalRef.Hide())">
                Cancel
            </Button>
        </ModalBody>
    </ModalContent>
</Modal>

<div class="input-and-reply">
    <div class="input-area">
        @if (_replyTo != -1)
        {
            <span @onclick="() => { _replyTo = -1; StateHasChanged(); }">
                &times;
            </span>
        }
        @if (_replyTo != -1)
        {
            <textarea readonly>
                @GetReplyMessage()
            </textarea>
        }
        @if (_edit != -1)
        {
            <span @onclick="() => { _edit = -1; _text = _buffer; StateHasChanged(); }">
                &times; Cancel edit
            </span>
        }
    </div>
    <div class="input-area">
        <textarea class="mx-2 text-input" @bind="@_text" style="min-height: 22vh">
        </textarea>
        @if (_edit == -1)
        {
            <button class="btn btn-primary"
                    @onclick="@Send">
                Send
            </button>
        }
        @if (_edit != -1)
        {
            <button class="btn btn-primary"
                    @onclick="@Edit">
                Edit
            </button>
        }
    </div>
</div>

@code {
    [Parameter] public HubConnection HubConnection { get; set; } = null!;
    [Parameter] public string? Name { get; set; }
    [Parameter] public string UserName { get; set; } = null!;

    private LinkedList<MessageView> _messages = new();
    private ElementReference _messageArea;
    private int _skip = 0;
    private const int BatchSize = 10;
    private int _replyTo = -1;
    private int _edit = -1;
    private string _text = string.Empty;
    private string _buffer = string.Empty;
    private int _delete = -1;
    private bool _canLoadMore = true;
    private Modal _deleteModalRef = null!;
    private Modal _deleteForMeModalRef = null!;

    private void DeleteForMe()
    {
        HubConnection.InvokeAsync("DeleteLocallyAsync", 
            Name, _delete);
        _delete = -1;
        _deleteForMeModalRef.Hide();
        _deleteModalRef.Hide();
    }

    private void VisualReply(int id)
    {
        _replyTo = id;
        if (_edit != -1)
        {
            _edit = 0;
            _text = string.Empty;
        }
        _delete = -1;
        SafeUpdate();
    }
    
    private void VisualEdit(int id)
    {
        _replyTo = -1;
        _edit = id;
        _buffer = _text;
        _text = _messages.Single(m => m.Id == id).Text;
        _delete = -1;
        SafeUpdate();
    }
    
    private void VisualDelete(int id, bool locally)
    {
        _replyTo = -1;
        if (_edit != -1)
        {
            _edit = 0;
            _text = string.Empty;
        }
        _delete = id;
        if (locally)
        {
            _deleteForMeModalRef.Show();
        }
        else
        {
            _deleteModalRef.Show();
        }
        SafeUpdate();
    }

    private void Send()
    {
        HubConnection.InvokeAsync("BroadcastMessageAsync", 
            Name, _text, _replyTo);
        _text = string.Empty;
        _replyTo = -1;
        _edit = -1;
        SafeUpdate();
    }

    private void Edit()
    {
        HubConnection.InvokeAsync("BroadcastEditAsync", 
            Name, _edit, _text);
        _text = string.Empty;
        _edit = -1;
        SafeUpdate();
    }

    private void Delete()
    {
        HubConnection.InvokeAsync("BroadcastDeleteAsync", 
            Name, _delete);
        _deleteModalRef.Hide();
    }

    private string GetEditText()
    {
        return _messages
            .Single(m => m.Id == _edit)
            .Text;
    }

    private string GetReplyMessage()
    {
        if (_replyTo == -1)
        {
            return string.Empty;
        }

        var message = _messages
            .SingleOrDefault(m => m.Id == _replyTo);
        return message == null 
            ? "Reply to: Deleted message" 
            : $"Reply to: {message.UserName}: {message.Text}";
    }
    
    private void RefreshData()
    {
        HubConnection.InvokeAsync("GetMessagesAsync",
            Name, _skip, BatchSize);
    }

    [JSInvokable("LoadMore")]
    public void LoadMore()
    {
        if (!_canLoadMore)
        {
            return;
        }
        
        _skip += BatchSize;
        RefreshData();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (!firstRender)
        {
            return;
        }
        
        Js.InvokeVoidAsync("scrollToEnd", _messageArea);
        var objRef 
            = DotNetObjectReference.Create(this);
        Js.InvokeVoidAsync("setScrollCheckCallback", 
            _messageArea, objRef);
    }

    private string GetReply(int id)
    {
        var message = _messages.SingleOrDefault(m => m.Id == id);
        return message == null
            ? "Message deleted"
            : $"{message.UserName}: {message.Text}";
    }

    protected override Task OnInitializedAsync()
    {
        if (Name == null)
        {
            return base.OnInitializedAsync();
        }

        SetHubEventHandlers();
        if (Name.EndsWith("Personal Chat"))
        {
            var splits = Name.Split(' ');
            HubConnection.InvokeAsync(
                "CreatePersonalChatIfNotExistsAsync", 
                splits[0], splits[2]);
        }
        RefreshData();
        return base.OnInitializedAsync();
    }

    private void SetHubEventHandlers()
    {
        HubConnection.On("GetMessagesAsync", GetMessagesHandler());
        HubConnection.On("BroadcastEditAsync", EditHandler());
        HubConnection.On("BroadcastMessageAsync", NewMessageHandler());
        HubConnection.On("BroadcastDeleteAsync", DeleteHandler());
    }

    private Action<List<MessageView>> GetMessagesHandler()
    {
        return messages =>
        {
            if (messages.Count < BatchSize)
            {
                _canLoadMore = false;
            }

            foreach (var view in messages)
            {
                _messages.AddFirst(view);
            }

            StateHasChanged();
            Js.InvokeVoidAsync("adjustScroll", _messageArea);
        };
    }

    private Action<string, int, string> EditHandler()
    {
        return (chatName, id, text) =>
        {
            if (Name != chatName)
            {
                return;
            }

            var message = _messages.SingleOrDefault(
                m => m.Id == id);
            if (message == null)
            {
                return;
            }

            message.Text = text;
            SafeUpdate();
        };
    }

    private Action<string, MessageView> NewMessageHandler()
    {
        return (chatName, message) =>
        {
            if (Name != chatName)
            {
                return;
            }

            _messages.AddLast(message);
            SafeUpdate();
        };
    }

    private Action<string, int> DeleteHandler()
    {
        return (chatName, messageId) =>
        {
            if (Name != chatName)
            {
                return;
            }

            var message = _messages.SingleOrDefault(
                m => m.Id == messageId);
            if (message == null)
            {
                return;
            }

            _messages.Remove(message);
            SafeUpdate();
        };
    }

    private void SafeUpdate()
    {
        Js.InvokeVoidAsync("saveScroll", _messageArea);
        StateHasChanged();
        Js.InvokeVoidAsync("loadScroll", _messageArea);
    }
} 